In [1]:
import numpy as np
import numpy.linalg as la
import matplotlib.pyplot as plt

import seaborn as sns
sns.set(font_scale=2)
plt.style.use('seaborn-whitegrid')
%matplotlib inline


from sklearn import datasets
from sklearn.decomposition import PCA
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [4]:
f_n = np.array(['10Hz','20Hz','30Hz'])

In [7]:
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9],[7, 8, 9]]),columns=['a', 'b', 'c'])

In [8]:
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9
3  7  8  9

In [14]:
df1 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9],[7, 8, 9]]),columns=['a', 'b', 'c'])
df1

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9
3  7  8  9

In [15]:
df1 = df1.append(df2)

In [16]:
df1

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9
3  7  8  9
0  1  2  3
1  4  5  6
2  7  8  9
3  7  8  9